/*container style*/
.gallery-image-container{
  background-size:cover;
  background-repeat: no-repeat;
  background-position:top center;
}

/*individual thumb images*/
.thumb-1{
  background-image: url(../images/londongrammar/thumb-1.jpg);
}

.thumb-2{
  background-image: url(../images/londongrammar/thumb-2.jpg);
}
